stage('Setup Python env') {
    steps {
        sh '''
        python3 -m venv venv
        source venv/bin/activate
        echo "pytest" > requirements.txt
        echo "requests" >> requirements.txt
        echo "pytest-html" >> requirements.txt
        pip install --upgrade pip
        pip install -r requirements.txt
        '''
    }
}
